<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boards</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../js/skel.min.js"></script>
    <script src="../../js/skel-panels.min.js"></script>
    <script src="../../js/init.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/style-desktop.css">
</head>
<body>

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="#">Imageboard</a></h1>
            <span>Created by Alex Grinenko</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul id="menu">
                <li><a href="../../boards.html">Список досок</a></li>
                <li><a href="../../login.html">Логин</a></li>
                <li><a href="../../registration.html">Регистрация</a></li>
                <li class="active"><a id="user"></a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- Header -->

<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="12u skel-cell-important">

                <section id="board" style="padding-left: 15pt">
                    <header>
                        <h2 th:text="${name}"></h2>
                        <span class="byline">Threads</span>

                        <ul>
                            <li>
                                <a class="button" onclick="createThread()">Отправить</a>
                                <h3 id="problem_label"></h3>
                            </li>
                            <form action="/api/files" enctype="multipart/form-data" id="fileForm" method="post"
                                  name="fileForm">
                                <li>Приложить файл <input name="file" id="file" type="file"/></li>
                            </form>
                            <li><textarea id="text" style="width: 400pt"></textarea></li>
                        </ul>

                        <div th:each="thread : ${threads}">
                            <div style="padding-bottom: 20pt;">
                                <header style="border:1px solid black;">
                                    <ul>
                                        <li>
                                            <a th:href="|/threads/${thread.getId()}|">
                                        <span style="font-size: 150%; padding-bottom: 0; padding-top: 20pt"
                                              th:text="${thread.initialPost.getText()}"></span></a>
                                            <a th:if="${isAdmin}" class="button" th:onclick="'deleteThread(\'' + ${thread.getId()} + '\');'" style="flex: min-content">Удалить</a>
                                        </li>
                                        <li>
                                            <img th:if="${thread.initialPost.getMediaId() != null}" height=250
                                                 th:src="@{${'/api/files/' + thread.initialPost.getMediaId()}}">
                                        </li>
                                        <li>
                                            Posted by: <b
                                                th:text="${thread.getInitialPost().getPostedBy().getNickname()}"></b>
                                            in: <b
                                                th:text="${thread.getInitialPost().getPostedDateString()}"></b>
                                        </li>
                                    </ul>
                                </header>
                                <div th:each="post : ${thread.answers}"
                                     style="padding-left: 50pt">
                                    Posted by: <b
                                        th:text="${post.getPostedBy().getNickname()}"></b>
                                    in: <b
                                        th:text="${thread.getInitialPost().getPostedDateString()}"></b>
                                    <span th:text="${post.getText()}" style="padding-bottom: 0"></span>
                                </div>
                            </div>
                        </div>
                    </header>
                </section>
            </div>
            <!-- /Content -->

        </div>

    </div>
</div>
<!-- Main -->

<div id="copyright">
    <div class="container">
        <a href="https://gitlab.com/OldEye/imageboard">Project code at gitlab.com</a>
        created and designed by Alex Grinenko
        <a href="#">Go to top</a>
    </div>
</div>

<script>
    function createThread() {
        var text = document.getElementById('text');
        if (text.value == null || text.value.length === 0) {
            document.getElementById('problem_label').textContent = "Текст не бы введен, тред не был создан";
            return;
        }
        $.ajaxSetup({async: false});
        var fileId = null;

        var $input = $("#file");
        if ($input.prop('files').length !== 0) {
            var fd = new FormData;
            fd.append('file', $input.prop('files')[0]);
            jQuery.ajax({
                url: '/api/files',
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (response) {
                    fileId = response.content;
                }
            });
        }
        var path = window.location.pathname;
        var array = path.split('/');

        if (fileId !== null) {
            $.post('/api/threads', {
                    text: text.value,
                    boardId: array[array.length - 1],
                    file: fileId
                },
                function (returnedData) {
                    window.location.href = "/threads/" + returnedData.content.id;
                });
        } else {
            $.post('/api/threads', {text: document.getElementById('text').value, boardId: array[array.length - 1]},
                function (returnedData) {
                    window.location.href = "/threads/" + returnedData.content.id;
                });
        }
        $.ajaxSetup({async: true});
    }

    function getUser() {
        $.get('/api/users/current',
            function (returnedData) {
                $("#user").append(returnedData);
                if (returnedData !== "Anonymous")
                    $("#menu").append('<li><a onclick="logout()">Logout</a></li>');
            });
    }

    function isAdmin() {
        $.get('/api/users/current/isAdmin',
            function (returnedData) {
                return returnedData;
            });
    }

    function logout() {
        $.post('/api/users/logout');
        document.location.reload();
    }

    function deleteThread(threadId) {
        $.ajax({
            url: '/api/threads/' + threadId,
            type: 'DELETE'
        });
        alert("Тред был удален. Перезагрузите страницу");
    }

    $(document).ready(function () {
        getUser();
    });

</script>

</body>
</html>
