<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boards</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../js/skel.min.js"></script>
    <script src="../../js/skel-panels.min.js"></script>
    <script src="../../js/init.js"></script>
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <link href="../../css/style-desktop.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="#">Imageboard</a></h1>
            <span>Created by Alex Grinenko</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul id="menu">
                <li><a href="../../boards.html">Список досок</a></li>
                <li><a href="../../login.html">Логин</a></li>
                <li><a href="../../registration.html">Регистрация</a></li>
                <li class="active"><a id="user"></a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- Header -->

<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div class="12u skel-cell-important" id="content">

                <li>
                    <a th:href="'../../boards/board/' + ${thread.getBoardId()}">Вернуться к борде</a>
                </li>

                <ul>
                    <li><a class="button" onclick="createPost()">Отправить</a></li>
                    <li><textarea id="text" style="width: 400pt"></textarea></li>
                </ul>

                <div>
                    <header>
                        <ul>
                            <li>
                            <span style="font-size: 150%; padding-bottom: 0; padding-top: 20pt"
                                  th:text="${thread.initialPost.getText()}"></span>
                            </li>
                            <li>
                                <img th:if="${thread.initialPost.getMediaId() != null}" height=250 th
                                     th:src="@{${'/api/files/' + thread.initialPost.getMediaId()}}">
                            </li>
                            <li>
                                Created by: <b
                                    th:text="${thread.getInitialPost().getPostedBy().getNickname()}"></b>
                                in: <b
                                    th:text="${thread.getInitialPost().getPostedDateString()}"></b>
                            </li>
                        </ul>
                    </header>
                    <div style="padding-left: 50pt; padding-bottom: 20pt"
                         th:each="post : ${thread.answers}">
                        Posted by: <b
                            th:text="${post.getPostedBy().getNickname()}"></b>
                        in: <b
                            th:text="${thread.getInitialPost().getPostedDateString()}"></b>
                        <span th:text="${post.getText()}" style="padding-bottom: 0"></span>
                    </div>
                </div>

            </div>
            <!-- /Content -->

        </div>

    </div>
</div>
<!-- Main -->

<div id="copyright">
    <div class="container">
        <a href="https://gitlab.com/OldEye/imageboard">Project code at gitlab.com</a>
        created and designed by Alex Grinenko
        <a href="#">Go to top</a>
    </div>
</div>

<script>
    function createPost() {
        var path = window.location.pathname;
        var array = path.split('/');

        $.post('/api/threads/posts', {text: document.getElementById('text').value, threadId: array[array.length - 1]},
            function (returnedData) {
                location.reload();
            });
    }

    function getUser() {
        $.get('/api/users/current',
            function (returnedData) {
                $("#user").append(returnedData);
                if (returnedData !== "Anonymous")
                    $("#menu").append('<li><a onclick="logout()">Logout</a></li>');
            });
    }

    function logout() {
        $.post('/api/users/logout');
        location.reload();
    }

    $(document).ready(function () {
        getUser();
    });
</script>

</body>
</html>
