/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Container */

body {
    /*min-width: 1200px;*/
}

.container {
    flex: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Modifiers */

.container.small {
    /*width: 900px;*/
}

.container.big {
    width: 100%;
    /*max-width: 1500px;*/
    /*min-width: 1200px;*/
}

/* Grid */

.row > * {
    padding: 50px 0 0 50px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row + .row > * {
    padding-top: 50px;
}

.row {
    margin-left: -50px;
}

/* Rows */

.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row:first-child > * {
    padding-top: 0;
}

.row > * {
    padding-top: 0;
}

/* Modifiers */

/* Flush */

.row.flush {
    margin-left: 0;
}

.row.flush > * {
    padding: 0 !important;
}

/* Quarter */

.row.quarter > * {
    padding: 12.5px 0 0 12.5px;
}

.row.quarter + .row.quarter > * {
    padding-top: 12.5px;
}

.row.quarter {
    margin-left: -12.5px;
}

/* Half */

.row.half > * {
    padding: 25px 0 0 25px;
}

.row.half + .row.half > * {
    padding-top: 25px;
}

.row.half {
    margin-left: -25px;
}

/* One and (a) Half */

.row.oneandhalf > * {
    padding: 75px 0 0 75px;
}

.row.oneandhalf + .row.oneandhalf > * {
    padding-top: 75px;
}

.row.oneandhalf {
    margin-left: -75px;
}

/* Double */

.row.double > * {
    padding: 100px 0 0 100px;
}

.row.double + .row.double > * {
    padding-top: 100px;
}

.row.double {
    margin-left: -100px;
}
