/*
	Monochromed by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body, input, textarea, select {
    line-height: 1.75em;
    font-size: 10pt;
    letter-spacing: 0;
}

body {
}

h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    line-height: 1em;
}

section,
article {
    clear: both;
    margin: 2em 0 2em 0 !important;
}

section > :first-child,
article > :first-child {
    margin-top: 0 !important;
}

section:first-child,
article:first-child {
    margin-top: 0 !important;
}

.container {
    padding: 0em 2em;
}

.button {
    display: block;
    width: 100%;
    text-align: center;
}

header {
    margin-bottom: 2em;
}

header h2 {
    letter-spacing: 1px;
}

header .byline {
    padding-top: 0.50em;
}

ul.style1 {
}

ul.style1 li {
    line-height: 1.7em;
}

ul.style1 .posted {
    display: block;
    margin-top: 0em;
    padding: 0em;
}


/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

#titleBar {
    background: none;
}

#titleBar .title {
    display: none;
    color: #fff;
    text-align: center;
    line-height: 44px;
}

#titleBar .toggle:before {
    content: '';
    display: block;
    width: 60px;
    height: 44px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#titleBar .toggle:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25px;
    top: 20px;
    background: url('images/mobileUI-site-nav-opener-bg.svg') 0px 0px no-repeat;
    opacity: 0.50;
}

#titleBar .toggle:active:after {
    opacity: 0.5;
}

#navPanel {
    background: #181818 url(images/overlay.png) repeat;
}

#navPanel .link {
    display: block;
    color: #888;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    border-top: solid 1px #212121;
    padding: 0 1em 0 1em;
    text-transform: uppercase;
}

#navPanel .link:first-child {
    border-top: 0;
}

#navPanel .link.depth-0 {
    color: #fff;
}

#navPanel .indent-1 {
    display: inline-block;
    width: 1em;
}

#navPanel .indent-2 {
    display: inline-block;
    width: 2em;
}

#navPanel .indent-3 {
    display: inline-block;
    width: 3em;
}

#navPanel .indent-4 {
    display: inline-block;
    width: 4em;
}

#navPanel .indent-5 {
    display: inline-block;
    width: 5em;
}

#navPanel .depth-0 {
    color: #fff;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    padding: 8em 0em 4em 0em;
    text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    margin-bottom: 3em;
}

#logo h1 {
    color: #FFF;
}

#logo h1 a {
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    color: #323338;
}

#logo span {
    display: block;
    padding-top: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
    color: #8e8588;
}

#nav {
    display: none;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
    padding: 4em 0em 1em 0em;
}

#content {
}

#content header {
    margin-bottom: 2em;
}

#content header h2 {
    font-size: 1.8em;
}

#content header .byline {
}

#sidebar h2 {
}


/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
    padding: 4em 0em 4em 0em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    padding: 4em 0em 2em 0em;
}

#footer h2 {
}
	